PORT=7000
JWT_SECRET=secet key
MONGODB_URI=url
SUPER_ADMIN_KEY=key

SMTP_HOST=smp host
SMTP_PORT=port
SMTP_USER=smp user
SMTP_PASS=pass
SMTP_FROM=from

REDIS_HOST=redis
REDIS_PORT=port 
FRONTEND_URL=for cores - comasepreated
GEMINI_API_KEY=api keys - comaseprated